section.top,
section.last{
  background: transparent;
}

.last{
  padding: 100px 0;
  text-align: center;
  h2{
    font-size: 24px;
    color: #fff;
  }
}

#top_video,
#top_video2{
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  top: 80px;
}
#top_video2{
  top: 0;
}

.section.title{
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1{
    color: #fff;
    text-align: center;
  }
}

.container{
  position: relative;
  //z-index: 1;
}

.main_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  .main_logo{
    display: block;
    width: 270px;
    margin: 72px auto;
    img{
      width: 100%;
    }
  }
  .main_slogan{
    display: block;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    &.order{
      font-size: 32px;
      font-weight: normal;
      display: block;
      padding: 4px 24px;
      background: transparent;
      color: white;
      border: 1px solid white;
      transition: all 1s;
      opacity: 0.75;
      &:hover{
        background: white;
        opacity: 1;
        color: #333333;
      }
    }
  }
}

.section_title{
  text-align: center;
  margin: 0;
  span{
    display: inline-block;
    position: relative;
    font-family: $default-font;
    &:before,
    &:after{
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background: #333;
      position: absolute;
      top: 50%;
      left: -110%;
    }
    &:after{
      left: auto;
      right: -110%;
    }
  }
}
h1.section_title{
  font-size: 72px;
  position: relative;
  margin-top: 0;
  top: -50px;
  pointer-events: none;
  span{
    //background: #fdfaf3;
    padding: 0 8px;
    &:before,
    &:after{
      display: none;
    }
  }
}

.tarifs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 0;
  .tarif_box{
    .tarif{
      width: 270px;
      height: 270px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.5);
        border-radius: 50%;
      }
      .tarif_title{
        display: block;
        position: relative;
        font-family: $secondary-font;
        font-size: 40px;
      }
    }
  }
}

.price{
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 40px;
  color: #333;
}

.examples{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0;
  .example_box{
    margin: auto;
  }
  .example{
    cursor: pointer;
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 32px 0;
  }
}

.content{
  .container{
    padding: 24px 8px;
  }
  h1, h2{
    text-align: center;
  }
  h2, h3, h4{
    font-family: $default-font;
  }
  .wp-block-column{
    h3{
      font-size: 56px;
      margin-bottom: 0;
    }
    p{
      margin-top: 0;
    }
  }

  div.wpcf7{
    width: 50%;
    margin: auto;
    .ajax-loader{
      background: 0 0;
      margin: 8px auto;
      display: block;
      height: 32px;
      &:before{
        left: -50%;
      }
    }
  }
}

.popup-wrapper{
  display: none;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9;
  background: rgba(0, 0, 0, 0.8);
  .popup{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    &:before {
      //content: "\2715";
      //cursor: pointer;
      //position: absolute;
      //right: 40px;
      //top: 40px;
      //color: white;
      //font-size: 40px;
      //z-index: 10;
    }
    //&:after{
    //  content: '';
    //  display: block;
    //  position: fixed;
    //  width: 100%;
    //  height: 100%;
    //  top: 0;
    //  left: 0;
    //}
    .button{
      position: absolute;
      display: inline-block;
      text-transform: uppercase;
      font-size: 40px;
      z-index: 10;
      color:#fff;
      height: auto;
      bottom: 10%;
    }
  }
  &.visible{
    display: block;
  }
}

.social_share_box{
  position: absolute;
}

@media screen and (max-width: #{$screen-lg-max}) { // max-width: 1440px
}

@media screen and (max-width: #{$screen-md-max}) { // max-width: 1024px
}

@media screen and (max-width: #{$screen-sm-max}) { // max-width: 768px
  h1.section_title{
    font-size: 40px;
    span{
      padding: 0 16px;
    }
  }
  .wp-block-column{
    text-align: center;
    h3{
      text-align: center;
    }
  }
}

@media screen and (max-width: #{$screen-xs-max}) { // max-width: 590px
  h1.section_title{
    font-size: 40px;
    top: 0;
    &:before{
      display: none;
    }
    span{
      padding: 0;
    }
  }
  .examples{
    .example_box{
      margin-bottom: 24px;
    }
    .example{
      margin: 0;
    }
  }

  .tarifs{
    .tarif_box{
      margin-bottom: 24px;
    }
  }

  .content div.wpcf7{
    width: 100%;
  }
}

@media screen and (max-width: #{$screen-xxs-max}) { // max-width: 320px
}