#top_video{
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
}

.container{
  position: relative;
  //z-index: 1;
}

.main_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 62px);
  .main_logo{
    display: block;
    width: 270px;
    margin: 72px auto;
    img{
      width: 100%;
    }
  }
  .main_slogan{
    display: block;
    font-size: 42px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: #{$screen-lg-max}) { // max-width: 1440px
}

@media screen and (max-width: #{$screen-md-max}) { // max-width: 1024px
}

@media screen and (max-width: #{$screen-sm-max}) { // max-width: 768px
}

@media screen and (max-width: #{$screen-xs-max}) { // max-width: 590px
}

@media screen and (max-width: #{$screen-xxs-max}) { // max-width: 320px
}