.footer {
  background: $footer-color;
  position: relative;
  z-index: 2;

  .footer-top {
    padding: 30px 0 0;
    min-height: 297px;
    @extend .flex;
    @extend .jc-center;

    .column {
      @extend .flex;

      &:first-child {
        width: 22%;
        min-width: 22%;
        padding-right: 15px;

        @extend .fd-column;

        @extend .jc-start;

        @extend .ai-center;

        .logo {
          width: 70px;
          height: 60px;
          margin-top: 47px;
        }

        .social-networks {
          margin-top: 30px;

          @extend .flex;

          @extend .jc-space-between;

          .icon-link {
            //@extend .inline-flex
            width: 25px;
            height: 25px;
            margin-right: 40px;

            &:last-child {
              margin-right: 0;
            }

            &:hover {
              svg {
                stroke: $white;
              }
            }
          }
        }
      }
      &:last-child{
        width: 78%;
        min-width: 78%;
        .contacts{
          width: 100%;
        }
      }
    }
  }

  .footer-bottom {
    @extend .flex;

    @extend .jc-space-between;

    border-top: 1px solid $light-grey;
    padding: 15px 0 18px;
    font-size: $f14px;
    color: $light-grey;

    .link {
      display: block;
      color: $white;

      &:after {
        background: $white;
      }

      &:before {
        background: $green;
      }

      &:hover {
        color: $green;
      }
    }
  }

  .contacts {
    @extend .flex;
    @extend .jc-space-between;

    .department {
      //width: 33.333%;
      flex: 1;
      padding-left: 15px;
    }

    .item {
      @extend .flex;

      margin-bottom: 28px;

      .svg-icon-footer {
        width: 22px;
        height: 22px;
        margin-top: 5px;
        margin-right: 10px;
      }

      .description {
        color: $light-grey;
        font-size: $f14px;
        line-height: 20px;
      }

      .link {
        @extend .inline-block; // for ie 11
        width: auto; // for ie 11
        color: $green;

        &:after {
          background: $green;
        }

        &:before {
          background: $white;
        }

        &:hover {
          color: $white;
        }
      }
    }

    .title {
      font-family: $secondary-font;
      font-size: $f14px;
      font-weight: $bold;
      color: $green;
      text-transform: uppercase;
      margin-bottom: 23px;
    }
  }
}

@media screen and (max-width: #{$screen-lg-max}) { // max-width: 1440px
}

@media screen and (max-width: #{$screen-md-max}) { // max-width: 1024px
  .single{
    .footer{
      margin-left: 80px;
    }
  }
  .footer{
    .container{
      max-width: 93%;
      .footer-top{
        flex-direction: column;
        padding: 0;
        min-height: auto;
        .column{
          width: 100%;
          padding: 0;
          .logo{
            margin-top: 33px;
          }
          .social-networks{
            margin: 28px auto 26px;
          }
          .contacts{
            flex-direction: column;
            width: 100%;
            .department{
              width: 100%;
              padding: 24px 14px;
              position: relative;
              border-top: 1px solid #FFFFFF;
              .title{
                font-style: normal;
                font-weight: normal;
                line-height: 23px;
                font-size: 18px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                margin: 8px 0;
                position: relative;
                &:after{
                  position: absolute;
                  top: 40%;
                  right: -3px;
                  content: '';
                  display: block;
                  background: url("../images/icons/chevron-down.svg") center no-repeat;
                  width: 12px;
                  height: 7px;
                }
              }
              .dep_wrapper{
                display: none;
              }
              &.active{
                .title{
                  &:after{
                    transform: rotate(180deg);
                  }
                }
                .dep_wrapper{
                  display: block;
                  padding-top: 24px;
                }
              }
            }
          }
        }

      }
      .footer-bottom{
        padding: 26px 0 30px;
        .sitemap{
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: #{$screen-sm-max}) { // max-width: 768px
}

@media screen and (max-width: #{$screen-xs-max}) { // max-width: 590px
  .single{
    .footer{
      margin-left: 0;
    }
  }
  .footer{
    .container{
      max-width: 91%;
      .footer-top{
        flex-direction: column;
        padding: 0;
        min-height: auto;
        .column{
          width: 100%;
          padding: 0;
          .logo{
            margin-top: 33px;
          }
          .social-networks{
            margin: 28px auto 26px;
          }
          .contacts{
            flex-direction: column;
            width: 100%;
            .department{
              width: 100%;
              padding: 24px 45px 24px 17px;
              position: relative;
              border-top: 1px solid #FFFFFF;
              .title{
                font-style: normal;
                font-weight: normal;
                line-height: 23px;
                font-size: 18px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                margin: 12px 0 8px;
                &:after{
                  position: absolute;
                  top: 40%;
                  right: -24px;
                  content: '';
                  display: block;
                  background: url("../images/icons/chevron-down.svg") center no-repeat;
                  width: 12px;
                  height: 7px;
                }
              }
              .dep_wrapper{
                display: none;
              }
              &.active{
                .title{
                  &:after{
                    transform: rotate(180deg);
                  }
                }
                .dep_wrapper{
                  display: block;
                  padding-top: 24px;
                }
              }
            }
          }
        }

      }
      .footer-bottom{
        padding: 34px 17px 44px;
        .copy{
          display: none;
        }
        .sitemap{
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: #{$screen-xxs-max}) { // max-width: 320px
}
