footer {
  background: #fdfaf3;
  margin: 0;
  width: 100%;
  position: relative;
  padding: 24px 0;
  .container{
    display: flex;
    justify-content: space-between;
    &:after{
      display: none;
    }

    .column{
      width: 33%;
      .col_box{
        color: #333;
        div{
          display: block;
          margin: 24px 0;
          a:hover{
            text-decoration: underline;
          }
        }
        .social-list li{
          margin: 0 24px 0 0;
        }
      }
    }

    &.copy {
      color: #cecece;
      font-size:70%;
      padding: 40px 0 0;
      &:after{
        display: none;
      }
    }
  }
}

@media screen and (max-width: #{$screen-lg-max}) { // max-width: 1440px
}

@media screen and (max-width: #{$screen-md-max}) { // max-width: 1024px

}

@media screen and (max-width: #{$screen-sm-max}) { // max-width: 768px
  footer{
    .container{
      flex-direction: column;
      .column{
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: #{$screen-xs-max}) { // max-width: 590px
}

@media screen and (max-width: #{$screen-xxs-max}) { // max-width: 320px
}
