header{
  background: #fdfaf3;
  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    color: black;
    &:after{
      display: none;
    }
  }
  .main_link{
    .main_url{
      cursor: pointer;
      font-family: $secondary-font;
      font-size: 24px;
    }
  }
  .top_menu{
    ul{
      li{
        list-style: none;
        a{

        }
      }
    }
  }
}

@media screen and (max-width: #{$screen-lg-max}) { // max-width: 1440px
}

@media screen and (max-width: #{$screen-md-max}) { // max-width: 1024px
}

@media screen and (max-width: #{$screen-sm-max}) { // max-width: 768px
}

@media screen and (max-width: #{$screen-xs-max}) { // max-width: 590px
}

@media screen and (max-width: #{$screen-xxs-max}) { // max-width: 320px
}