header{
  background: #fdfaf3;
  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    //height: 80px;
    color: black;
    &:after{
      display: none;
    }
  }
  .main_link{
    border-bottom: 2px solid #333;
    height: 80px;
    display: flex;
    align-items: center;
    &.main_page{
      border: none;
    }
    .main_url{
      display: block;
      cursor: pointer;
      font-size: 36px;
      letter-spacing: 3px;
      padding: 8px 0 12px;
      font-family: $secondary-font;
      span{
        font-family: $default-font;
        font-weight: lighter;
        font-size: 32px;
        letter-spacing: 0;
        top: -3px;
        position: relative;
      }
    }
  }
  .top_menu{
    border-bottom: 2px solid #333;
    height: 80px;
    display: flex;
    align-items: center;
    &.main_page{
      border: none;
    }
    ul{
      li{
        list-style: none;
        margin: 0 16px;
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
        a{
          font-size: 22px;
          padding: 0;
        }
      }
    }
  }
  #nav>li+li{
    margin-left: 16px;
  }

  #mobile_burger{
    display: none;
  }
}

@media screen and (max-width: #{$screen-lg-max}) { // max-width: 1440px
}

@media screen and (max-width: #{$screen-md-max}) { // max-width: 1024px
  header{
    .top_menu{
      &.mask{
        display: block;
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        #nav{
          display: flex;
          flex-direction: column;
          background: white;
          width: 80%;
          font-size: 150%;
          padding: 32px 8px;
        }
      }
    }
    #mobile_burger{
      display: flex;
      flex-direction: column;
      cursor: pointer;
      .line{
        width: 40px;
        height: 4px;
        margin: 4px 0;
        background: black;
      }
    }
    #nav>li+li{
      margin-left: 0;
    }
  }
}

@media screen and (max-width: #{$screen-sm-max}) { // max-width: 768px
  header .main_link .main_url{
    font-size: 24px;
    span{
      font-size: 20px;
    }
  }
}

@media screen and (max-width: #{$screen-xs-max}) { // max-width: 590px
  header{
    .main_link,
    .top_menu{
      border: none;
    }
    .main_link{
      .main_url{
        display: flex;
        align-items: center;
        span{
          padding-left: 8px;
          top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: #{$screen-xxs-max}) { // max-width: 320px
}