.sh-general-page {
  .main-content {
    .hero {
      width: calc(100% - 90px);
      margin-left: auto;
    }
    .content {
      width: calc(100% - 90px);
      margin-left: auto;
    }
  }
}

@media screen and (max-width: #{$screen-lg-max}) { // max-width: 1440px
}

@media screen and (max-width: #{$screen-md-max}) { // max-width: 1024px
  .sh-general-page {
    .main-content {
      .social_share_box {
        display: none;
      }
      .hero {
        width: 100%;
      }
      .content {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: #{$screen-sm-max}) { // max-width: 768px
}

@media screen and (max-width: #{$screen-xs-max}) { // max-width: 590px
}

@media screen and (max-width: #{$screen-xxs-max}) { // max-width: 320px
}