.sh_title{
  .container{
    min-height: 500px;
    padding-top: 317px;
    h1{
      width: 100%;
      text-align: center;
      font-family: $secondary-font;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 48px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
}
.sh_content{
  padding: 0 0 25px;
  .container{
    //max-width: 700px;
    padding: 90px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #282828;
    p{
      line-height: 29px;
      margin-bottom: 29px;
    }
  }

}

.sh_posts{
  .container{
    border-top: 1px solid #E0E0E0;
    padding: 97px 0;
  }
}

.news .container,
.sh_posts .container{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  flex-direction: row;
  flex-wrap: wrap;

  .post_box{
    display: inline-block;
    position: relative;
    min-width: 30%;
    width: 30%;
    background: #FFFFFF;
    box-shadow:
            0 7px 35px rgba(90, 97, 105, 0.1),
            0 15px 22px rgba(90, 97, 105, 0.1),
            0 4px 8px rgba(90, 97, 105, 0.12),
            0 2px 3px rgba(90, 97, 105, 0.11);
    /* Плашки */
    margin: 35px 0;
    margin-right: 5%;
    transition: all $default-transition;

    &:nth-of-type(3n){
      margin-right: 0;
    }

    .post_image{
      height: 226px;
      margin: 0 0 35px;
    }
    .post_labels{
      display: flex;
      justify-content: space-between;
      padding: 32px 34px 16px;

      .label{
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 14px;
        color: #FFFFFF;
        background: #7AB317;
        border: 1px solid #7AB317;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 8px 11px 7px 14px;
        max-width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .date{
        font-family: $secondary-font;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        color: #282828;
        padding: 4px 8px;
      }
    }

    h3{
      font-weight: 500;
      line-height: 35px;
      //font-size: 28px;
      letter-spacing: -0.491228px;
      color: #282828;
      padding: 0 34px;
      overflow: hidden;
    }

    .exc{
      font-style: normal;
      font-weight: normal;
      line-height: 19px;
      font-size: 14px;
      color: #282828;
      padding: 10px 34px 40px;
    }

    /* new hover effect*/
    .simple-slider-hover {
      content: '';
      @extend .absolute;
      top: -30px;
      left: -30px;
      right: -30px;
      bottom: -30px;
      visibility: hidden;
      opacity: 0;
      background-color: rgba(255, 255, 255, 0.2);
      z-index: -1;
      transform: translate3d(0, 0, 0) scale(0.8);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      transition: all .3s;
    }

    &:hover {
      box-shadow: none;
      transition: all $default-transition;
      & > .simple-slider-hover {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.top_news{
  .container{
    .left{
      .category{
        font-family: $secondary-font;
        font-size: 18px;
        text-transform: uppercase;
        color: #0B2E59;
      }
      h1{
        font-family: $secondary-font;
        font-weight: bold;
        line-height: 61px;
        font-size: 48px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #7AB317;
      }
      .excerpt{
        font-family: $default-font;
        line-height: 29px;
        font-size: 18px;
        color: #282828;
      }
    }
  }
}
.main_news{
  .container{
    h2{
      font-family: $secondary-font;
      line-height: 50px;
      font-size: 36px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #0B2E59;
    }
  }
}

@media screen and (max-width: #{$screen-lg-max}) { // max-width: 1440px
}

@media screen and (max-width: #{$screen-md-max}) { // max-width: 1024px
  .news .container,
  .sh_posts .container{
    .post_box{
      min-width: 45%;
      width: 45%;
      margin-right: 10%;
      &:nth-of-type(3n){
        margin-right: 10%;
      }
      &:nth-of-type(2n){
        margin-right: 0;
      }

      &:hover{
        box-shadow:
                0 7px 35px rgba(90, 97, 105, 0.1),
                0 15px 22px rgba(90, 97, 105, 0.1),
                0 4px 8px rgba(90, 97, 105, 0.12),
                0 2px 3px rgba(90, 97, 105, 0.11);
      }
    }
  }
}

@media screen and (max-width: #{$screen-sm-max}) { // max-width: 768px
    .top_news{
        .container {
        flex-direction: column-reverse;
        align-items: center;
        max-width: 100%;
        padding: 0 0 0 80px;
        .left{
          width: 100%;
          padding: 85px 20px 20px 40px;
          h1{
            line-height: 58px;
            font-size: 42px;
            letter-spacing: 0.04em;
            margin: 11px 0 19px;
          }
          .excerpt{
            display: none;
          }
        }
        .right {
          width: 100%;
          max-height: 565px;
          overflow: hidden;
        }
      }
    }
    .main_news{
      padding: 0 0 60px;
      .container{
        max-width: 100%;
        padding: 0 20px 20px 120px;
        h2{
          margin: 16px 0;
        }
        .content {
          font-style: normal;
          font-weight: normal;
          line-height: 29px;
          font-size: 18px;
          color: #282828;
        }
      }
    }
  .sh_title{
    max-height: 582px;
    .container{
      padding-top: 287px;
    }
  }
  .sh_content{
    .container{
      padding: 71px 41px 0;
    }
  }
  .sh_posts{
    .container{
      max-width: 93.5%;
      padding: 54px 0;
      justify-content: space-between;
      .post_box{
        h3{
          font-style: normal;
          font-weight: normal;
          line-height: 30px;
          font-size: 24px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: #282828;
          margin: 37px 0 7px;
        }
        .exc{
          font-style: normal;
          font-weight: normal;
          line-height: 22px;
          font-size: 16px;
          color: #282828;
        }
      }
    }
  }
  .news .container,
  .sh_posts .container{
    .post_box{
      min-width: 47%;
      width: 47%;
      margin-right: 6%;
      &:nth-of-type(3n){
        margin-right: 6%;
      }
      &:nth-of-type(2n){
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: #{$screen-xs-max}) { // max-width: 590px
  .top_news{
    .container {
      flex-direction: column-reverse;
      align-items: center;
      max-width: 100%;
      padding: 0;
      .left{
        padding: 50px 17px 20px 17px;
        h1{
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          font-size: 24px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #7AB317;
          margin: 8px 0 5px;
        }
      }
      .right{
        max-height: 258px;
      }
    }
  }
  .main_news{
    padding: 0 0 60px;
    .container{
      max-width: 100%;
      padding: 0 17px 150px 17px;
      h2{
        font-size: 24px;
      }
      .content {
        font-style: normal;
        font-weight: normal;
        line-height: 26px;
        font-size: 16px;
        color: #282828;
        p{
          margin: 0 0 26px;
          line-height: 26px;
        }
      }
    }
  }
  .sh_title{
    max-height: 260px;
    .container{
      padding-top: 165px;
      min-height: 260px;
      h1{
        font-style: normal;
        font-weight: bold;
        line-height: 33px;
        font-size: 24px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
  }
  .sh_content{
    padding: 0 0 6px;
    .container{
      font-style: normal;
      font-weight: normal;
      line-height: 26px;
      font-size: 16px;
      color: #282828;
      padding: 36px 16px 0;
      margin: 0;
      max-width: 100%;
      p{
        line-height: 26px;
        margin-bottom: 26px;
      }
    }
  }
  .news,
  .sh_posts{
    .container{
      padding: 40px 16px;
      justify-content: center;
      .post_box{
        min-width: 100%;
        width: 100%;
        margin-right: 0;
        &:nth-of-type(3n){
          margin-right: 0;
        }
        &:nth-of-type(2n){
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: #{$screen-xxs-max}) { // max-width: 320px
}