.section.price{
  h1{
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 48px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $green;
    margin: 65px 0 0;
  }

  .price_header_tabs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #E0E0E0;
    margin: 34px 0 0;
    .price_tab{
      font-family: $secondary-font;
      position: relative;
      padding: 8px 32px 5px;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 24px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #000000;
      cursor: pointer;
      &.active{
        &::after{
          position: absolute;
          left: 0;
          content: '';
          width: 100%;
          bottom: 0;
          height: 4px;
          background: $green;
        }
      }
    }
  }
  .price_content{
    margin: 107px 0;
    .price_tab{
      display: none;
      &.active{
        display: block;
      }
      .price_item{
        margin: 0 0 80px;
        .p_main{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .items{
            width: 50%;
            padding: 0 34px 0 0;
            .price_title{
              margin: 0 0 62px;
              font-style: normal;
              font-weight: normal;
              line-height: normal;
              font-size: 36px;
              letter-spacing: 0.02em;
              text-transform: uppercase;
              color: #0B2E59;
              font-family: $secondary-font;
            }
            .item{
              border: 1px solid #E1E1E1;
              margin-bottom: 32px;
              display: -ms-flexbox;
              display: flex;
              justify-content: space-between;
              -ms-flex-align: center;
              align-items: center;
              min-height: 120px;
              font-family: $secondary-font;
              overflow: hidden;
              &:after{
                content:'';
                min-height:inherit;
                font-size:0;
              }
              .desc{
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 24px;
                color: #282828;
                padding: 8px 16px 8px 54px;
                width: calc(100% - 180px);
              }
              .price{
                position: relative;
                background: url("../images/icons/ticket.png") left center no-repeat;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 48px;
                color: $green;
                min-width: 180px;
                width: 180px;
                padding: 0 0 0 48px;
                min-height: 55px;
                display: flex;
                align-items: center;
                .p_discuss{
                  font-style: normal;
                  font-weight: normal;
                  line-height: normal;
                  font-size: 24px;
                  color: $green;
                  padding: 0 8px 0 0;
                }
                .price_box{
                  position: relative;
                  .cur{
                    font-family: $default-font;
                    font-style: normal;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 16px;
                    position: absolute;
                    top: -8px;
                    right: -28px;
                  }
                }
              }
            }
          }
          .image{
            width: 50%;
            margin-bottom: 32px;
            .price_title{
              display: none;
            }
            img{
              width: 100%;
            }
          }
        }
        .p_footer{
          border: 1px solid #E1E1E1;
          padding: 45px 52px;
          h1{
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 24px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: $green;
            margin: 0 0 44px;
            font-family: $secondary-font;
          }
          ul{
            column-count: 3;
            li{
              font-family: $default-font;
              font-style: normal;
              font-weight: normal;
              line-height: normal;
              font-size: 16px;
              color: #282828;
              list-style: none;
              position: relative;
              padding-left: 21px;
              margin: 0 24px 19px 0;
              &::before{
                content: '';
                position: absolute;
                display: block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                top: 7px;
                left: 0;
                background: $green;
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: #{$screen-lg-max}) { // max-width: 1440px
}

@media screen and (max-width: #{$screen-md-max}) { // max-width: 1024px
  .section.price{
    .container{
      max-width: 100%;
      padding: 0 25px;
      h1{
        font-weight: bold;
        line-height: 58px;
        font-size: 42px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin: 79px 0 0;
      }
      .price_header_tabs{
        flex-direction: column;
        margin-bottom: 60px;
        .price_tab{
          font-size: 24px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          width: 100%;
          display: none;
          position: relative;
          text-align: left;
          padding: 8px 32px 13px;
          order: 2;
          &.active{
            display: block;
            order: 1;
            &:before{
              content: '';
              position: absolute;
              top: 45%;
              right: 9px;
              background: url("../images/icons/drop_down.svg") center no-repeat;
              background-size: cover;
              width: 12px;
              height: 6px;
            }
          }
        }
      }

      .price_content{
        margin: 0;
        padding: 0 9%;
        .price_tab{
          .price_item{
            .p_main{
              flex-direction: column-reverse;
              .items{
                width: 100%;
                padding: 0;
                .item{
                  .desc{
                    padding: 0 16px 0 58px;
                  }
                }
                .price_title{
                  display: none;
                }
              }
              .image{
                width: 100%;
                margin-bottom: 55px;
                .price_title{
                  font-family: $secondary-font;
                  display: block;
                  font-style: normal;
                  font-weight: normal;
                  line-height: normal;
                  font-size: 36px;
                  letter-spacing: 0.02em;
                  text-transform: uppercase;
                  color: #0B2E59;
                  margin: 0 0 47px;
                }
              }
            }
            .p_footer{
              padding: 56px;
              h1,h2{
                text-align: center;
                margin: 0 0 36px;
              }
              ul{
                column-count: 1;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: #{$screen-sm-max}) { // max-width: 768px
}

@media screen and (max-width: #{$screen-xs-max}) { // max-width: 590px
  .section.price{
    .container{
      max-width: 100%;
      padding: 0 17px;
      h1{
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 24px;
        letter-spacing: 0.02em;
        margin: 43px 0 0;
      }
      .price_header_tabs{
        flex-direction: column;
        margin: 25px 0 47px;
        .price_tab{
          line-height: 25px;
          font-size: 18px;
          letter-spacing: 0.02em;
          padding: 8px 4px 4px;
          order: 2;
          &.active{
            display: block;
            order: 1;
            &:before{
              content: '';
              position: absolute;
              top: 45%;
              right: 9px;
              background: url("../images/icons/drop_down.svg") center no-repeat;
              background-size: cover;
              width: 12px;
              height: 6px;
            }
            &:after{
              height: 2px;
            }
          }
        }
      }

      .price_content{
        margin: 0;
        padding: 0;
        .price_tab{
          .price_item{
            .p_main{
              flex-direction: column-reverse;
              .items{
                width: 100%;
                padding: 0;
                .item{
                  min-height: 81px;
                  margin-bottom: 20px;
                  .desc{
                    font-size: 18px;
                    padding: 0 11px;
                    width: calc(100% - 130px);
                  }
                  .price{
                    padding: 0 8px 0 40px;
                    min-width: auto;
                    width: 130px;
                    .price_box{
                      .cur{
                        right: 0;
                      }
                    }
                  }
                }
                .price_title{
                  display: none;
                }
              }
              .image{
                width: 100%;
                margin-bottom: 40px;
                .price_title{
                  font-family: $secondary-font;
                  display: block;
                  font-size: 24px;
                  letter-spacing: 0.02em;
                  text-transform: uppercase;
                  margin: 0 0 32px;
                }
              }
            }
            .p_footer{
              padding: 45px 24px;
              h1,h2{
                text-align: center;
                margin: 0 0 36px;
              }
              ul{
                column-count: 1;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: #{$screen-xxs-max}) { // max-width: 320px
}