.slick-dots{
  $bg-inactive-color: #C4C4C4;
  $bg-active-color: #7AB317;

  @extend .flex;

  margin: 0 auto;
  font-size: 0;
  
  li{
    button{
      width: 10px;
      height: 10px;
      background: $bg-inactive-color;
      border-radius: 50%;
      margin: 0 5px;
    }

    &.slick-active{
      button{
        background: $bg-active-color;
      }
    }
  }
}