html, body {
  -webkit-overflow-scrolling: touch;
}

html {
  height: 100%;
}

body {
  background: #fdfaf3;
  min-height: 100%;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
  color: inherit;
  width: inherit;
  height: inherit;
  outline: none!important;
  text-decoration: none;
  transition: color $default-transition;
}
a:hover {
  cursor: pointer;
}

.section {
}
.container {
  @include container(1140px);
}

.main_button{
  display: inline-block;
  padding: 8px 16px;
  background: white;
  border: 1px solid #c3c3c3;
}

img{
  &.alignnone{
    height: auto;
  }
  &.alignleft{
    float: left;
    margin: 8px 16px 8px 0;
  }
  .alignright{
    float: right;
    margin: 8px 0 8px 16px;
  }
  &.aligncenter{
    display: block;
    margin: 8px auto;
  }
}

/*
 * Large devices (laptops, less than 1440px)
 * - as prototype use design from the "1366px" layout;
 * - the main content max-width is fixed (set in px);
 */
@media screen and (max-width: #{$screen-lg-max}) { // max-width: 1440px
  .container{
    @include container(1140px);
  }
}


/*
 * Medium devices (landscape tablets, less than 1024px)
 * - as prototype use design from the "768px" layout;
 * - the main content max-width is relative (set in %);
 * - perhaps increase font-size by few pixels from the dimensions for "768px" layout
 */
@media screen and (max-width: #{$screen-md-max}) { // max-width: 1024px
  .container{
    @include container(80%);
  }
}


/*
 * Small devices (portrait tablets, landscape phones, less than 768px)
 * - as prototype use design from the "768px" layout;
 * - the main content max-width is relative (set in %) or inherit from the previous breakpoint;
 */
@media screen and (max-width: #{$screen-sm-max}) { // max-width: 768px
  /* for example: .container max-width will inherit from the previous breakpoint */
}


/*
 * Extra Small devices (portrait phones, less than 590px)
 * - as prototype use design from the "375px" layout;
 * - the main content max-width is relative (set in %) or inherit from the previous breakpoint;
 */
@media screen and (max-width: #{$screen-xs-max}) { // max-width: 590px
  .container{
    @include container(90%);
  }
}


/*
 * iPhone S or similar devices (portrait phones, less than 320px)
 * - as prototype use design from the "375px" layout;
 * - the main content max-width is relative (set in %) or inherit from the previous breakpoint;
 * - perhaps reduce font-size by few pixels from the dimensions for "375px" layout
 */
@media screen and (max-width: #{$screen-xxs-max}) { // max-width: 320px
  /* for example: .container max-width will inherit from the previous breakpoint */
}
