svg {
  width: inherit;
  height: inherit;
  fill: none;
  transition: all $default-transition;

  &:hover {
    transition: all $default-transition;
  }
}

.svg-sprite {
  @extend .hidden;
}

.svg-icon{
  stroke: $white;

  &:hover{
    stroke: $green;
  }
}

.svg-icon-search,
.svg-icon-social{
  stroke: $green;
  stroke-width: 2px;

  &.inverse{
    stroke: $white;
  }
}

.svg-icon-footer {
  stroke: $light-grey;
  stroke-width: 2px;
}

.svg-icon-violations,
.svg-icon-guides,
.svg-headphones{
  fill: $violations-color;
  border: 3px solid $green;
  width: 42px;
  height: 42px;
  padding: 5px;
  background: $white;
}

.svg-arrow-right-circle{
  width: 20px;
  height: 20px;
}

//.svg-icon-phone{
//  width: 20px;
//  height: 20px;
//  stroke: $green;
//  stroke-width: 2px;
//}