@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "People";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/billy-argel_beautiful-people-personal-use/Beautiful-People-two-Personal-Use.ttf") format("truetype");
}


//Global
html {
  font-size: 100%;
  font-weight: normal;
}

body {
  font-family: $default-font;
  font-size: $f16px;
  font-weight: $regular;
  color: $default-color;
  -webkit-font-smoothing: antialiased;
}

p, span {
  //line-height: 1;
  line-height: inherit;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4{
  font-family: $secondary-font;
  font-weight: $regular;
  text-transform: uppercase;
}

h1, .h1 {
  font-size: $f38px;
  font-weight: $bold;
}

h2, .h2 {
  font-size: $f33px;
}

h3, .h3 {
  font-size: $f26px;
}

h4, .h4 {
  font-size: $f16px;
}

@media screen and (max-width: #{$screen-lg-max}) {// max-width: 1440px

}

@media screen and (max-width: #{$screen-md-max}) { // max-width: 1024px
}

@media screen and (max-width: #{$screen-sm-max}) { // max-width: 768px

}

@media screen and (max-width: #{$screen-xs-max}) { // max-width: 590px
  h1, .h1{
    font-size: $f24px;
  }

  h2, .h2 {
    font-size: $f24px;
  }


}